cpp-page {
  padding-top: 1.3089762cm !important;
  padding-bottom: 0.4363254cm !important;
  padding-left: 0.8936424cm !important;
  padding-right: 0.8936424cm !important; }

cpp-header {
  height: 1.746cm !important; }

cpp-page-section {
  background-color: #eee;
  height: 3.492cm !important;
  margin-bottom: 0.1454418cm !important; }
